{
	"arrowParens": "avoid",
	"jsxBracketSameLine": true,
	"printWidth": 200,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.md"],
			"options": {
				"useTabs": false
			}
		}
	]
}
